stages:
  - pages

pages:
  image: node:22
  stage: pages
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - document/**/*
        - .gitlab-ci.yml
    - when: never
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - document/node_modules/
  script:
    - cd document
    - npm ci
    # GitLab Pages 的 URL 通常是：
    # - https://<group>.gitlab.io/<project>/
    # - https://<group>.gitlab.io/<subgroup>/<project>/
    # 因此 base 应该是去掉最前面的 group 后的路径（即 ${CI_PROJECT_PATH#*/}）。
    - export VITEPRESS_BASE="/${CI_PROJECT_PATH#*/}/"
    - npm run docs:build
    - cd ..
    - rm -rf public
    - cp -r document/.vitepress/dist public
  artifacts:
    paths:
      - public
    expire_in: 1 week
